* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090b1a;
    font-family: 'Inter', sans-serif;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 70px 20px;
    width: 100%;
    background-color: #1b1938;
    border-radius: 10px;
    text-align: center;
}
.card .card-img-top {
    position: relative;
}
.card .card-img-top img {
    margin-bottom: -4px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card .card-img-top .image-overlay {
    height: 100%;
    background-color: #aa5cdb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.card .card-body {
    padding: 40px 38px;
    color: #fff;
}
.card .card-body h2 {
    padding: 0 10px;
    margin-bottom: 20px;
    font-weight: 700;
}
.card .card-body h2 span {
    color: #aa5cdb;
}
.card .card-body p {
    margin-bottom: 30px;
    color: #ffffffbf;
    font-size: 15px;
    line-height: 22px;
}

.data-box {
    display: flex;
    flex-direction: column;
}
.data-box div {
    margin: 15px 0;
    font-size: 22px;
    font-weight: 700;
}
.data-box div span {
    margin-top: 5px;
    display: block;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    .card {
        width: 70%;
    }

    .data-box {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    body {
        height: 100vh;
    }

    .card {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .card .card-img-top {
        width: 50%;
        order: 2;
    }
    .card .card-img-top img {
        border-top-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .card .card-img-top .image-overlay {
        border-top-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card .card-body {
        width: 50%;
        padding: 55px 70px;
    }

    .data-box {
        margin-right: 30px;
    }
}